html, body {
    background-color: rgb(222, 231, 235);
    padding: 0;
    margin: 0;
}



p, h1 {
    color: rgb(222, 231, 235);
    font-family: Arial, Helvetica, sans-serif;
}


header {
    width: 100%;
    background-color: rgb(21, 41, 76);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


li {
    list-style: none;
}


.logo {
    width: 45vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon {
    height: 7vmin;
}

#logo-text {
    padding-left: 1.5vmin;
    font-size: 6pt;
}


nav{
    min-height: 70px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.0s ease-in-out;
    transition: all 0.0s ease-in-out;
    background-color: white;
}







a:link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(222, 231, 235);
}

a:hover {
    color: rgb(170, 191, 203);
    text-shadow: 2px 5px 2px rgba(0,0,0, .4);
  }


.social-media-icon {
    width: 4vmin;
}

#social-media-links {
    display: flex;
    justify-content: space-around;
    width: 15vmin
}



#current-date, #announcement{
    display: flex;
    color: rgb(21, 41, 76);
    justify-content: center;
    padding: 5px;
    margin: 0;
    border-bottom: solid;
    background-color: rgb(187, 207, 219);
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}





#hero-pic {
    width: 100%;
}

footer {
    color: rgb(222, 231, 235);
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 41, 76);
    flex-shrink: 0;
    padding-bottom: 0;
    font-size: 14pt;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-bottom {
    
    display: flex;
    justify-content: center;
    width: 100%;
    border-width: 1px;
    border-top: solid;
    border-color: rgba(187, 207, 219, .5);
    margin: 0;
}

#address-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#address-text{
    padding-left: 1.5vmin;
}


#footer-copyright, #footer-author, #project-title {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 231, 235);
    display: flex;
    border-right: solid;
    border-color: rgb(187, 207, 219);
    padding-left: 20px;
    padding-right: 20px;
}

#last-modified {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 231, 235);
    padding-left: 20px;
}


main {
    display: flex;
    justify-content: center;
}


#title {
    display: flex;
    flex-direction: column;
    align-items: start;
    column-gap: 5px;
}


.box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(187, 207, 219);
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(21, 41, 76);
    border-radius: 5px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.box:hover {
    background-color: rgb(170, 191, 203);
}

#contact-info {
    text-align: start;
}


.main-container {
    
    display: grid;
    justify-content: center;

    grid-template-columns: 25% 45% 25%;
    grid-template-rows: 27vmax 27vmax 27vmax; 

}

#hero-section {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#event-section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#weather-section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#new-release-section {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#spotlight-section {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display:flex;
    flex-direction: column;
}

#join-section {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.spotlight {
    height: 100%;
}










  @media(max-width:1024px){

    /* Hamburger Menu */

    .hamburger{
        display: block;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -150%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(21, 41, 76);
        width: 100%;
        text-align: center;
        transition: 0.0s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    /* Hamburger Menu */

    #spotlight3 {
        display: none;
    }



    .main-container {
        display: grid;
        grid-template-columns: 25% 40% 30%;
        grid-template-rows: 27vmax 27vmax 27vmax 27vmax 27vmax; 
    }

    #hero-section {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #new-release-section {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #event-section {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    #spotlight-section {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    
    
    #weather-section {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    

    #spotlight-section {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
        display:flex;
        flex-direction: column;
    }
    
    #join-section {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    }



}



@media screen and (max-width: 667px) {

    footer {
        font-family: Arial, Helvetica, sans-serif
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    #spotlight3 {
        display: none;
    }

    #join-section {
        display: none;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #address-container {
        display: flex;
        flex-direction: column;
        padding: 2vmin;
    }

    #contact-info, #address-text {
        text-align: center;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-copyright, #footer-author, #project-title, #last-modified {
        font-size: 2.5vmin;
        border-right: none;
    }
  }





    










  





 
